<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="description" content="Results of Intel&#39;s Graphics CI systems">
        <link rel="stylesheet" href="/assets/detailed.css" type="text/css">
        <link rel="stylesheet" href="/assets/generic.css" type="text/css">
        <link rel="stylesheet" href="/assets/results.css" type="text/css">
        <link rel="shortcut icon" href="/assets/favicon.gif" />
    </head>
    <body>
        <%= render '/topnav.*' %>
        <div id="content-container">
            <h2>File List</h2>
            <table id="filelist"><tr><th>Size</th></tr></ul>
            <script type="text/javascript">
                var pathElements = document.URL.split('/');
                document.title = pathElements[pathElements.length - 2] + " filelist";

                document.querySelector("#pre-merge-name").innerText = preMergeName;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        var table = document.querySelector("#filelist");
                        var lines = this.responseText.split('\n');
                        for (var i = 0; i < lines.length; i++) {
                            var size = lines[i].split(" ")[0];
                            var file = lines[i].split(" ").slice(1).join(" ");

                            var a = document.createElement("a");
                            var tr = document.createElement("tr");
                            var sizeTd = document.createElement("td");
                            var linkTd = document.createElement("td");

                            sizeTd.innerText = size;

                            a.href = file;
                            a.innerText = file;

                            linkTd.append(a);
                            tr.appendChild(sizeTd);
                            tr.appendChild(linkTd);
                            table.appendChild(tr);
                        }
                    }
                };
                xhttp.open("GET", "filelist.txt", true);
                xhttp.send();

            </script>
        </div>
    </body>
</html>

